{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'attendance/css/custom_fonts.css' %}">


    <!-- Add other CSS files or stylesheets here -->
</head>
<body>

{% block content %}
    <h1>Your Heading 12213</h1>
    <p>Your content goes here.</p>
{% endblock %}

</body>
</html>
